@charset "UTF-8";
html {
  overflow-y: scroll; }

.ba-header {
  background: url(../img/bg-header.png);
  display: block;
  height: 100%;
  position: relative;
  background-size: cover;
  margin-left: 0;
  margin-right: 0;
  border-left: 0;
  border-right: 0;
  width: 80%;
  padding: 10%; }

h1, .main-text {
  text-align: center; }

h1 {
  color: #ffffff;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 35px;
  font-weight: 300;
  letter-spacing: 7px;
  line-height: 70px; }

.main-text {
  font-family: 'Open Sans', sans-serif;
  color: #ffffff;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px; }

.menu_h {
  margin-right: 5px;
  padding-bottom: 10%;
  padding-top: 0;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
  font-size: 15px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  text-transform: uppercase; }

a {
  color: #ffffff;
  text-decoration: none;
  list-style: none;
  /* ╨┐╤А╤П╤З╨╡╨╝ ╨╝╨░╤А╨║╨╡╤А╤Л */ }

a:visited {
  color: #ffffff;
  font-size: small; }

a:active {
  color: #ffffff; }

a:hover {
  color: #ffffff; }

.menu-haeder {
  color: #ffffff;
  font-size: 16px;
  /* ╨Я╤А╨╕╨▒╨╗╨╕╨╢╨╡╨╜╨╕╨╡ ╨╕╨╖-╨╖╨░ ╨┐╨╛╨┤╤Б╤В╨░╨╜╨╛╨▓╨║╨╕ ╤И╤А╨╕╤Д╤В╨╛╨▓ */
  font-weight: 400;
  line-height: 12px;
  /* ╨Я╤А╨╕╨▒╨╗╨╕╨╢╨╡╨╜╨╕╨╡ ╨╕╨╖-╨╖╨░ ╨┐╨╛╨┤╤Б╤В╨░╨╜╨╛╨▓╨║╨╕ ╤И╤А╨╕╤Д╤В╨╛╨▓ */
  align-items: right; }

img {
  width: 113px;
  height: 19px; }

.title-text_portfolio {
  color: #333b46;
  font-size: 20px;
  font-weight: 300;
  letter-spacing: 4px;
  line-height: 12px;
  text-align: center; }

.main-text_portfolio {
  color: #81868e;
  font-size: 14px;
  font-weight: 400;
  line-height: 25px;
  text-align: center; }

ul.menu_p {
  margin: 0;
  padding: 4px; }

ul.menu_p li {
  display: inline;
  margin-right: 5px; }

.menu-portfolio {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  /* ╨Я╤А╨╕╨▒╨╗╨╕╨╢╨╡╨╜╨╕╨╡ ╨╕╨╖-╨╖╨░ ╨┐╨╛╨┤╤Б╤В╨░╨╜╨╛╨▓╨║╨╕ ╤И╤А╨╕╤Д╤В╨╛╨▓ */
  font-weight: 400;
  line-height: 12px;
  /* ╨Я╤А╨╕╨▒╨╗╨╕╨╢╨╡╨╜╨╕╨╡ ╨╕╨╖-╨╖╨░ ╨┐╨╛╨┤╤Б╤В╨░╨╜╨╛╨▓╨║╨╕ ╤И╤А╨╕╤Д╤В╨╛╨▓ */
  text-align: center; }

.img {
  background: #DDD; }

/* clear fix */
.img:after {
  content: '';
  display: block;
  clear: both; }

/* ---- .grid-item ---- */
.img-sizer,
.img-item {
  width: 33.333%; }

.img-item {
  float: left; }

.img-item img {
  display: block;
  max-width: 100%; }

.b-b {
  margin: auto; }

.title-footer {
  text-transform: uppercase;
  color: #323a45;
  width: 113px;
  height: 19px;
  text-align: center; }

.text-footer {
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  color: #81868e;
  font-size: 14px;
  /* ╨Я╤А╨╕╨▒╨╗╨╕╨╢╨╡╨╜╨╕╨╡ ╨╕╨╖-╨╖╨░ ╨┐╨╛╨┤╤Б╤В╨░╨╜╨╛╨▓╨║╨╕ ╤И╤А╨╕╤Д╤В╨╛╨▓ */
  font-weight: 400;
  line-height: 25px;
  /* ╨Я╤А╨╕╨▒╨╗╨╕╨╢╨╡╨╜╨╕╨╡ ╨╕╨╖-╨╖╨░ ╨┐╨╛╨┤╤Б╤В╨░╨╜╨╛╨▓╨║╨╕ ╤И╤А╨╕╤Д╤В╨╛╨▓ */ }

.title-text_team {
  text-transform: uppercase;
  color: #333b46;
  font-size: 20px;
  font-weight: 300;
  letter-spacing: 4px;
  line-height: 12px;
  text-align: center; }

.main-text_team {
  color: #81868e;
  font-size: 14px;
  /* ╨Я╤А╨╕╨▒╨╗╨╕╨╢╨╡╨╜╨╕╨╡ ╨╕╨╖-╨╖╨░ ╨┐╨╛╨┤╤Б╤В╨░╨╜╨╛╨▓╨║╨╕ ╤И╤А╨╕╤Д╤В╨╛╨▓ */
  font-weight: 400;
  line-height: 25px;
  /* ╨Я╤А╨╕╨▒╨╗╨╕╨╢╨╡╨╜╨╕╨╡ ╨╕╨╖-╨╖╨░ ╨┐╨╛╨┤╤Б╤В╨░╨╜╨╛╨▓╨║╨╕ ╤И╤А╨╕╤Д╤В╨╛╨▓ */
  text-align: center; }

.name {
  font-family: 'Open Sans', sans-serif;
  color: #464646;
  font-size: 20px;
  /* ╨Я╤А╨╕╨▒╨╗╨╕╨╢╨╡╨╜╨╕╨╡ ╨╕╨╖-╨╖╨░ ╨┐╨╛╨┤╤Б╤В╨░╨╜╨╛╨▓╨║╨╕ ╤И╤А╨╕╤Д╤В╨╛╨▓ */
  font-weight: 400;
  line-height: 125px;
  /* ╨Я╤А╨╕╨▒╨╗╨╕╨╢╨╡╨╜╨╕╨╡ ╨╕╨╖-╨╖╨░ ╨┐╨╛╨┤╤Б╤В╨░╨╜╨╛╨▓╨║╨╕ ╤И╤А╨╕╤Д╤В╨╛╨▓ */
  text-align: left; }

.post {
  font-family: 'Source Sans Pro', sans-serif;
  color: #81868e;
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 1.4px;
  line-height: 25px;
  text-align: right; }

.info {
  font-family: 'Open Sans', sans-serif;
  color: #81868e;
  font-size: 14px;
  /* ╨Я╤А╨╕╨▒╨╗╨╕╨╢╨╡╨╜╨╕╨╡ ╨╕╨╖-╨╖╨░ ╨┐╨╛╨┤╤Б╤В╨░╨╜╨╛╨▓╨║╨╕ ╤И╤А╨╕╤Д╤В╨╛╨▓ */
  font-weight: 400;
  line-height: 25px;
  /* ╨Я╤А╨╕╨▒╨╗╨╕╨╢╨╡╨╜╨╕╨╡ ╨╕╨╖-╨╖╨░ ╨┐╨╛╨┤╤Б╤В╨░╨╜╨╛╨▓╨║╨╕ ╤И╤А╨╕╤Д╤В╨╛╨▓ */
  text-align: right; }

.right {
  width: 200px;
  /* ╨и╨╕╤А╨╕╨╜╨░ ╤Б╨╗╨╛╤П */ }

.left {
  width: 300px;
  /* ╨и╨╕╤А╨╕╨╜╨░ ╤Б╨╗╨╛╤П */ }

.ba-footer {
  clear: both; }

.title_c {
  font-family: 'Source Sans Pro', sans-serif;
  color: #333b46;
  font-size: 20px;
  font-weight: 300;
  letter-spacing: 4px;
  line-height: 12px;
  text-align: center;
  text-transform: uppercase; }

.main_c {
  font-family: 'Open Sans', sans-serif;
  color: #81868e;
  font-size: 14px;
  /* ╨Я╤А╨╕╨▒╨╗╨╕╨╢╨╡╨╜╨╕╨╡ ╨╕╨╖-╨╖╨░ ╨┐╨╛╨┤╤Б╤В╨░╨╜╨╛╨▓╨║╨╕ ╤И╤А╨╕╤Д╤В╨╛╨▓ */
  font-weight: 400;
  line-height: 25px;
  /* ╨Я╤А╨╕╨▒╨╗╨╕╨╢╨╡╨╜╨╕╨╡ ╨╕╨╖-╨╖╨░ ╨┐╨╛╨┤╤Б╤В╨░╨╜╨╛╨▓╨║╨╕ ╤И╤А╨╕╤Д╤В╨╛╨▓ */
  text-align: center; }

#map {
  width: 100%;
  height: 400px; }

/*# sourceMappingURL=style.css.map */
